.text-object, .lbl, .lbl-cv-section-header, .lbl-cv-section-header-count, .lbl-cell-title, .lbl-cell-title-tiny, .lbl-cell-title-large, .lbl-cell-fav-count, .lbl-welcome, .lbl-new-header, .lbl-new-button, .lbl-new-button-sm, .lbl-new-button-sm-white, .lbl-moredecks-button-sm, .lbl-instruction, .lbl-fieldtitle-overlay, .lbl-fieldtitle, .lbl-actionsheet-title, .lbl-selectorcell, .lbl-selectorcell-on, .lbl-loading, .lbl-loading-lg, .lbl-loading-sm, .lbl-message, .lbl-deck-title, .lbl-deck-action-button, .lbl-deck-title-dark, .lbl-deck-subtitle, .lbl-deck-subtitle-dark, .lbl-card-name, .lbl-card-creator, .lbl-trigger-type, .lbl-trigger-description, .lbl-deck-summary, .lbl-profile-name, .lbl-profile-username, .lbl-profile-total, .lbl-profile-title, .field-login, .field-select, .field-select-text, .field-select-photo-gallery, .field-select-reorder, .field-select-add, .field-select-deck, .field-select-deck-subtitle, .field-normal, .field-normal-bold, .field-normal-bold-red, .field-placeholder, .field-value, .field-value-photos, .field-value-text, .field-value-blk, .field-normal-small, .textarea-normal-small, .lbl-hero, .lbl-camera, .lbl-disabled-button, .lbl-card-subtitle, .lbl-card-textvalue, .lbl-card-webvalue, .lbl-card-phonevalue, .lbl-card-emailvalue, .lbl-card-headervalue, .lbl-card-texttitle {
  font-family: "Open Sans";
  font-weight: 400; }

.lbl, .lbl-cv-section-header, .lbl-cv-section-header-count, .lbl-cell-title, .lbl-cell-title-tiny, .lbl-cell-title-large, .lbl-cell-fav-count, .lbl-welcome, .lbl-new-header, .lbl-new-button, .lbl-new-button-sm, .lbl-new-button-sm-white, .lbl-moredecks-button-sm, .lbl-instruction, .lbl-fieldtitle-overlay, .lbl-fieldtitle, .lbl-actionsheet-title, .lbl-selectorcell, .lbl-selectorcell-on, .lbl-loading, .lbl-loading-lg, .lbl-loading-sm, .lbl-message, .lbl-deck-title, .lbl-deck-action-button, .lbl-deck-title-dark, .lbl-deck-subtitle, .lbl-deck-subtitle-dark, .lbl-card-name, .lbl-card-creator, .lbl-trigger-type, .lbl-trigger-description, .lbl-deck-summary, .lbl-profile-name, .lbl-profile-username, .lbl-profile-total, .lbl-profile-title, .field-login, .field-select, .field-select-text, .field-select-photo-gallery, .field-select-reorder, .field-select-add, .field-select-deck, .field-select-deck-subtitle, .field-normal, .field-normal-bold, .field-normal-bold-red, .field-placeholder, .field-value, .field-value-photos, .field-value-text, .field-value-blk, .field-normal-small, .textarea-normal-small, .lbl-hero, .lbl-camera, .lbl-disabled-button {
  color: #3c3c38; }

.lbl-cv-section-header {
  color: #3c3c38;
  font-size: 17px;
  font-weight: 600; }

.lbl-cv-section-header-count {
  color: #787770;
  font-size: 12px; }

.lbl-cell-title {
  color: #424242;
  font-size: 11px;
  font-weight: 600; }

.lbl-cell-title-tiny {
  color: #424242;
  font-size: 10px;
  font-weight: 400; }

.lbl-cell-title-large {
  color: #424242;
  font-size: 13px;
  font-weight: 600; }

.lbl-cell-fav-count {
  color: #868686;
  font-size: 10px;
  font-weight: 400;
  text-align: right; }

.lbl-welcome {
  font-size: 28px;
  font-weight: 300;
  color: #ffffff;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2); }

.lbl-new-header {
  font-size: 16px;
  font-weight: 300;
  color: #ffffff; }

.lbl-new-button {
  font-size: 15px;
  font-weight: 600;
  color: #F15400; }

.lbl-new-button-sm {
  font-size: 12px;
  font-weight: 400;
  color: #F15400; }

.lbl-new-button-sm-white {
  font-size: 12px;
  font-weight: 400;
  color: #ffffff; }

.lbl-moredecks-button-sm {
  font-size: 13px;
  font-weight: 400;
  color: #F15400;
  text-align: left; }

.lbl-instruction {
  font-size: 11px;
  font-weight: 400;
  color: #808080; }

.lbl-fieldtitle-overlay {
  color: #000000;
  font-size: 12px;
  font-weight: 700; }

.lbl-fieldtitle {
  color: #585756;
  font-size: 11px;
  font-weight: 700; }

.lbl-actionsheet-title {
  color: #585756;
  font-size: 11px;
  font-weight: 400; }

.lbl-selectorcell {
  color: #242424;
  font-size: 15px;
  font-weight: 400; }

.lbl-selectorcell-on {
  color: #F15400;
  font-size: 15px;
  font-weight: 400; }

.lbl-loading {
  color: #dad9d5;
  font-weight: 400;
  font-size: 12px; }

.lbl-loading-lg {
  color: #dad9d5;
  font-weight: 400;
  font-size: 16px;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2); }

.lbl-loading-sm {
  color: #dad9d5;
  font-weight: 700;
  font-size: 10px; }

.lbl-message {
  color: #242424;
  font-weight: 400;
  font-size: 13px;
  text-align: center; }

.lbl-deck-title {
  color: #FFFFFF;
  font-weight: 700;
  font-size: 11px;
  text-align: center; }

.lbl-deck-action-button {
  color: #FFFFFF;
  font-weight: 400;
  font-size: 10px;
  text-align: center; }

.lbl-deck-title-dark {
  color: #242424;
  font-weight: 700;
  font-size: 12px;
  text-align: center; }

.lbl-deck-subtitle {
  color: #BBBBBB;
  font-weight: 500;
  font-size: 10px;
  text-align: center; }

.lbl-deck-subtitle-dark {
  color: #868686;
  font-weight: 400;
  font-size: 11px;
  text-align: center; }

.lbl-card-name {
  color: #242424;
  font-weight: 300;
  font-size: 22px;
  text-align: center; }

.lbl-card-subtitle {
  font-weight: 700;
  font-size: 10px;
  text-align: center; }

.lbl-card-textvalue {
  font-weight: 400;
  font-size: 14px;
  text-align: left;
  color: #242424; }

.lbl-card-webvalue {
  font-weight: 400;
  font-size: 14px;
  text-align: left;
  color: #F15400; }

.lbl-card-phonevalue {
  font-weight: 700;
  font-size: 14px;
  text-align: left;
  color: #242424; }

.lbl-card-emailvalue {
  font-weight: 700;
  font-size: 14px;
  text-align: left;
  color: #242424; }

.lbl-card-headervalue {
  font-weight: 400;
  font-size: 18px;
  text-align: center;
  color: #848484; }

.lbl-card-texttitle {
  font-weight: 700;
  font-size: 11px;
  text-align: left;
  color: #969696; }

.lbl-card-creator {
  color: #868686;
  font-weight: 400;
  font-size: 11px;
  text-align: left; }

.lbl-trigger-type {
  color: #F15400;
  font-weight: 300;
  font-size: 22px;
  text-align: left; }

.lbl-trigger-description {
  color: #242424;
  font-weight: 400;
  font-size: 10px;
  text-align: left; }

.lbl-deck-summary {
  color: #242424;
  font-weight: 400;
  font-size: 13px;
  text-align: left;
  color: #727272; }

.lbl-profile-name {
  color: #DDDDDD;
  font-weight: 300;
  font-size: 20px;
  text-align: left; }

.lbl-profile-username {
  color: #AAAAAA;
  font-weight: 400;
  font-size: 12px;
  text-align: left; }

.lbl-profile-total {
  color: #242424;
  font-weight: 700;
  font-size: 20px;
  text-align: center; }

.lbl-profile-title {
  color: #242424;
  font-weight: 400;
  font-size: 10px;
  text-align: center; }

.field-login {
  color: #000000;
  font-size: 15px;
  font-weight: 400; }

.field-select {
  color: #242424;
  font-size: 12px;
  font-weight: 400; }

.field-select-text {
  color: #848484;
  font-size: 12px;
  font-weight: 400;
  text-align: right; }

.field-select-photo-gallery {
  color: #F15400;
  font-size: 12px;
  font-weight: 400;
  text-align: left; }

.field-select-reorder {
  color: #F15400;
  font-size: 12px;
  font-weight: 600;
  text-align: right; }

.field-select-add {
  color: #F15400;
  font-size: 16px;
  font-weight: 400; }

.field-select-deck {
  color: #242424;
  font-size: 14px;
  font-weight: 600;
  text-align: left; }

.field-select-deck-subtitle {
  color: #868686;
  font-size: 11px;
  font-weight: 400;
  text-align: left; }

.field-normal {
  color: #242424;
  font-size: 16px;
  font-weight: 400; }

.field-normal-bold {
  color: #242424;
  font-size: 18px;
  font-weight: 500; }

.field-normal-bold-red {
  color: #EE0000;
  font-size: 18px;
  font-weight: 500; }

.field-placeholder {
  color: #848484;
  font-size: 14px;
  font-style: italic;
  font-weight: 400;
  text-align: right; }

.field-value {
  color: #F15400;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  text-align: right; }

.field-value-photos {
  color: #242424;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  text-align: left; }

.field-value-text {
  color: #242424;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  text-align: left; }

.field-value-blk {
  color: #242424;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  text-align: right; }

.field-normal-small {
  color: #848484;
  font-size: 14px;
  font-weight: 400;
  text-align: right; }

.textarea-normal-small {
  color: #242424;
  font-size: 14px;
  font-weight: 400;
  text-align: left; }

.lbl-hero {
  font-size: 13px;
  font-weight: 300;
  color: #242424; }

.lbl-camera {
  font-size: 14px;
  font-weight: 400;
  color: #F15400;
  border-width: 4px;
  border-color: #000000; }

.lbl-disabled-button {
  font-size: 12px;
  font-weight: 700;
  color: #FFFFFF; }

.btn, .btn-blue, .btn-white, .btn-clear, .btn-orange, .btn-grey, .btn-glass, .btn-deck-action {
  font-family: "Open Sans";
  font-size: 12px;
  text-align: center;
  color: #FFFFFF;
  font-weight: 700;
  border-radius: 3px; }

.btn-blue {
  background-color: #2C69AD; }

.btn-white {
  background-color: #FFFFFF;
  color: #F15400; }

.btn-clear {
  font-weight: 700;
  font-size: 13px;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.5); }

.btn-orange {
  background-color: #F15400; }

.btn-grey {
  background-color: #514E4D; }

.btn-glass {
  background-color: rgba(0, 0, 0, 0.3); }

.btn-deck-action {
  font-size: 11px;
  color: #FFFFFF; }

.btn-profile-area {
  background-color: #F0EEEA; }

.btn-profile-area-selected {
  background-color: white; }

.btn-profile-button-background {
  background-color: transparent; }

.box, .box-rounded-inner, .box-shadow, .box-deck-cell, .box-create-image, .box-shadow-upper {
  background-color: #fff; }

.box-rounded-inner {
  border-radius: 1px; }

.box-shadow, .box-deck-cell, .box-create-image {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.15); }

.box-shadow-upper {
  box-shadow: 0px -1px 1px rgba(0, 0, 0, 0.2); }

.box-deck-cell {
  border-radius: 3px; }

.box-create-image {
  border-radius: 3px; }

.box-rounded-entry-field {
  border-radius: 3px;
  border-width: 2px;
  border-color: #aaaaaa;
  background-color: #fafafa; }
