$clr-text-grey: #3c3c38
$clr-text-ltgrey: #787770
$base-radius: 3px
$base-radius-button: 3px
$base-radius-inner: 1px




$clr-base-dark: #EBEBE0
$clr-green: #33A499
$clr-green-dk: #184e49
$clr-red: #F15400
$clr-red-dk: #B72801

$clr-nav-bar-bottom: #FCFCF0

$text-dark: #242424
$text-subtle: #444444
$text-green: #33A499
$text-green-dk: #184e49


$base-radius-lg: 3px

.text-object
  font-family: "Open Sans"
  font-weight: 400

.lbl
  @extend .text-object
  color: $clr-text-grey

.lbl-cv-section-header
  @extend .lbl
  color: $clr-text-grey
  font-size: 17px
  font-weight: 600

.lbl-cv-section-header-count
  @extend .lbl
  color: $clr-text-ltgrey
  font-size: 12px

.lbl-cell-title
  @extend .lbl
  color: #424242
  font-size: 11px
  font-weight: 600

.lbl-cell-title-tiny
  @extend .lbl
  color: #424242
  font-size: 10px
  font-weight: 400

.lbl-cell-title-large
  @extend .lbl
  color: #424242
  font-size: 13px
  font-weight: 600

.lbl-cell-fav-count
  @extend .lbl
  color: #868686
  font-size: 10px
  font-weight: 400
  text-align: right


.lbl-welcome
  @extend .lbl
  font-size: 28px
  font-weight: 300
  color: #ffffff
  text-shadow: 0px 1px rgba(0,0,0,0.2)

.lbl-new-header
  @extend .lbl
  font-size: 16px
  font-weight: 300
  color: #ffffff

.lbl-new-button
  @extend .lbl
  font-size: 15px
  font-weight: 600
  color: $clr-red

.lbl-new-button-sm
  @extend .lbl
  font-size: 12px
  font-weight: 400
  color: $clr-red

.lbl-new-button-sm-white
  @extend .lbl
  font-size: 12px
  font-weight: 400
  color: #ffffff

.lbl-moredecks-button-sm
  @extend .lbl
  font-size: 13px
  font-weight: 400
  color: $clr-red
  text-align: left

.lbl-instruction
  @extend .lbl
  font-size: 11px
  font-weight: 400
  color: #808080

.lbl-fieldtitle-overlay
  @extend .lbl
  color: #000000
  font-size: 12px
  font-weight: 700

.lbl-fieldtitle
  @extend .lbl
  color: #585756
  font-size: 11px
  font-weight: 700

.lbl-actionsheet-title
  @extend .lbl
  color: #585756
  font-size: 11px
  font-weight: 400

.lbl-selectorcell
  @extend .lbl
  color: #242424
  font-size: 15px
  font-weight: 400

.lbl-selectorcell-on
  @extend .lbl
  color: $clr-red
  font-size: 15px
  font-weight: 400

.lbl-loading
  @extend .lbl
  color: #dad9d5
  font-weight: 400
  font-size: 12px

.lbl-loading-lg
  @extend .lbl
  color: #dad9d5
  font-weight: 400
  font-size: 16px
  text-shadow: 0px 1px rgba(0,0,0,0.2)

.lbl-loading-sm
  @extend .lbl
  color: #dad9d5
  font-weight: 700
  font-size: 10px

.lbl-message
  @extend .lbl
  color: #242424
  font-weight: 400
  font-size: 13px
  text-align: center

.lbl-deck-title
  @extend .lbl
  color: #FFFFFF
  font-weight: 700
  font-size: 11px
  text-align: center

.lbl-deck-action-button
  @extend .lbl
  color: #FFFFFF
  font-weight: 400
  font-size: 10px
  text-align: center

.lbl-deck-title-dark
  @extend .lbl
  color: #242424
  font-weight: 700
  font-size: 12px
  text-align: center

.lbl-deck-subtitle
  @extend .lbl
  color: #BBBBBB
  font-weight: 500
  font-size: 10px
  text-align: center

.lbl-deck-subtitle-dark
  @extend .lbl
  color: #868686
  font-weight: 400
  font-size: 11px
  text-align: center

.lbl-card-name
  @extend .lbl
  color: #242424
  font-weight: 300
  font-size: 22px
  text-align: center

.lbl-card-subtitle
  @extend .text-object
  font-weight: 700
  font-size: 10px
  text-align: center

.lbl-card-textvalue
  @extend .text-object
  font-weight: 400
  font-size: 14px
  text-align: left
  color: #242424

.lbl-card-webvalue
  @extend .text-object
  font-weight: 400
  font-size: 14px
  text-align: left
  color: $clr-red

.lbl-card-phonevalue
  @extend .text-object
  font-weight: 700
  font-size: 14px
  text-align: left
  color: #242424

.lbl-card-emailvalue
  @extend .text-object
  font-weight: 700
  font-size: 14px
  text-align: left
  color: #242424

.lbl-card-headervalue
  @extend .text-object
  font-weight: 400
  font-size: 18px
  text-align: center
  color: #848484

.lbl-card-texttitle
  @extend .text-object
  font-weight: 700
  font-size: 11px
  text-align: left
  color: #969696

.lbl-card-creator
  @extend .lbl
  color: #868686
  font-weight: 400
  font-size: 11px
  text-align: left

.lbl-trigger-type
  @extend .lbl
  color: $clr-red
  font-weight: 300
  font-size: 22px
  text-align: left

.lbl-trigger-description
  @extend .lbl
  color: #242424
  font-weight: 400
  font-size: 10px
  text-align: left

.lbl-deck-summary
  @extend .lbl
  color: #242424
  font-weight: 400
  font-size: 13px
  text-align: left
  color: #727272

.lbl-profile-name
  @extend .lbl
  color: #DDDDDD
  font-weight: 300
  font-size: 20px
  text-align: left

.lbl-profile-username
  @extend .lbl
  color: #AAAAAA
  font-weight: 400
  font-size: 12px
  text-align: left

.lbl-profile-total
  @extend .lbl
  color: #242424
  font-weight: 700
  font-size: 20px
  text-align: center

.lbl-profile-title
  @extend .lbl
  color: #242424
  font-weight: 400
  font-size: 10px
  text-align: center





  
.field-login
  @extend .lbl
  color: #000000
  font-size: 15px
  font-weight: 400

.field-select
  @extend .lbl
  color: #242424
  font-size: 12px
  font-weight: 400

.field-select-text
  @extend .lbl
  color: #848484
  font-size: 12px
  font-weight: 400
  text-align: right

.field-select-photo-gallery
  @extend .lbl
  color: $clr-red
  font-size: 12px
  font-weight: 400
  text-align: left

.field-select-reorder
  @extend .lbl
  color: $clr-red
  font-size: 12px
  font-weight: 600
  text-align: right

.field-select-add
  @extend .lbl
  color: $clr-red
  font-size: 16px
  font-weight: 400

.field-select-deck
  @extend .lbl
  color: #242424
  font-size: 14px
  font-weight: 600
  text-align: left

.field-select-deck-subtitle
  @extend .lbl
  color: #868686
  font-size: 11px
  font-weight: 400
  text-align: left

.field-normal
  @extend .lbl
  color: #242424
  font-size: 16px
  font-weight: 400

.field-normal-bold
  @extend .lbl
  color: #242424
  font-size: 18px
  font-weight: 500

.field-normal-bold-red
  @extend .lbl
  color: #EE0000
  font-size: 18px
  font-weight: 500

.field-placeholder
  @extend .lbl
  color: #848484
  font-size: 14px
  font-style: italic
  font-weight: 400
  text-align: right

.field-value
  @extend .lbl
  color: $clr-red
  font-size: 14px
  font-style: normal
  font-weight: 400
  text-align: right

.field-value-photos
  @extend .lbl
  color: #242424
  font-size: 14px
  font-style: normal
  font-weight: 400
  text-align: left


.field-value-text
  @extend .lbl
  color: #242424
  font-size: 14px
  font-style: normal
  font-weight: 400
  text-align: left

.field-value-blk
  @extend .lbl
  color: #242424
  font-size: 14px
  font-style: normal
  font-weight: 400
  text-align: right

.field-normal-small
  @extend .lbl
  color: #848484
  font-size: 14px
  font-weight: 400
  text-align: right

.textarea-normal-small
  @extend .lbl
  color: #242424
  font-size: 14px
  font-weight: 400
  text-align: left

.lbl-hero
  @extend .lbl
  font-size: 13px
  font-weight: 300
  color: #242424

.lbl-camera
  @extend .lbl
  font-size: 14px
  font-weight: 400
  color: $clr-red
  border-width: 4px
  border-color: #000000

.lbl-disabled-button
  @extend .lbl
  font-size: 12px
  font-weight: 700
  color: #FFFFFF

.btn
  font-family: "Open Sans"
  font-size: 12px
  text-align: center
  color: #FFFFFF
  font-weight: 700
  border-radius: $base-radius-button

.btn-blue
  @extend .btn 
  background-color: #2C69AD

.btn-white
  @extend .btn
  background-color: #FFFFFF
  color: $clr-red

.btn-clear
  @extend .btn
  font-weight: 700
  font-size: 13px
  text-shadow: 0px 1px rgba(0, 0, 0, 0.5)

.btn-orange
  @extend .btn
  background-color: $clr-red

.btn-grey
  @extend .btn
  background-color: #514E4D

.btn-glass
  @extend .btn
  background-color: rgba(0, 0, 0, 0.3)

.btn-deck-action
  @extend .btn
  font-size: 11px
  color: #FFFFFF

.btn-profile-area
  background-color: #F0EEEA

.btn-profile-area-selected
  background-color: rgba(255, 255, 255, 1.0)

.btn-profile-button-background
  background-color: rgba(0, 0, 0, 0.0)

.box
  background-color: #fff

.box-rounded-inner
  @extend .box
  border-radius: $base-radius-inner

.box-shadow
  @extend .box
  box-shadow: 0px 1px 1px rgba(0,0,0,0.15)

.box-shadow-upper
  @extend .box
  box-shadow: 0px -1px 1px rgba(0,0,0,0.2)

.box-deck-cell
  @extend .box-shadow
  border-radius: $base-radius

.box-create-image
  @extend .box-shadow
  border-radius: $base-radius

.box-rounded-entry-field
  border-radius: $base-radius-button
  border-width: 2px
  border-color: #aaaaaa
  background-color: #fafafa

